.leisure-sub-heading {
  margin-top: 0;
  font-family: "PT Mono", monospace;
  color: #51cb20;
  padding: 25px;
}

.leisure-lead-heading {
  padding-left: 25px;
  font-size: 4em;
  color: #fefffe;
  line-height: 70px;
}

@media screen and (max-width: 700px) {
  .leisure-sub-heading {
    font-size: 1.5em;
    font-family: "PT Mono", monospace;
    color: #51cb20;
    padding: 25px;
  }

  .leisure-lead-heading {
    font-size: 2.5em;
  }
}
