.hero {
  color: #fefffe;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-sub-heading {
  /* margin: 0; */
  padding-left: 25px;
  font-family: "PT Mono", monospace;
  color: #51cb20;
  font-size: 2em;
}

.hero-lead-heading {
  padding-left: 25px;
  font-size: 4em;
}

.hero-lead-sub-heading {
  padding-left: 25px;
  font-family: "PT Mono", monospace;
}

@media screen and (max-width: 700px) {
  .hero-sub-heading {
    /* margin-top: 10px; */
    font-size: 1em;
  }

  .hero-lead-heading {
    font-size: 2.5em;
  }

  .hero-lead-sub-heading {
    font-size: 1em;
  }
} ;
