@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&family=PT+Mono&family=Playfair+Display:ital@1&display=swap");
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-heading {
  margin-top: 0;
  font-family: PT Mono, monospace;
  color: #51cb20;
  padding: 25px;
}

.footer-icons {
  padding-left: 25px;
  width: 100%;
  display: flex;
  gap: 2em;

  align-items: flex-start;
}

.footer-icons a {
  text-decoration: none;
  color: #fefffe;
}
.footer-social-icon {
  font-size: 2em;
}

.footer-social-icon:hover {
  color: #51cb20;
}

.footer-subheading {
  font-size: 1.5em;
  padding-left: 25px;
  color: #fefffe;
  font-family: PT Mono, monospace;
}

.footer-sub-icon {
  padding-left: 15px;
}

.footer-sub-icon:hover {
  color: #51cb20;
}

.footer-one {
  color: #fefffe;
  word-wrap: break-word;
}
.quote-head {
  padding-left: 25px;
}
.quote {
  padding-left: 25px;
  font-family: "Playfair Display", serif;
  color: #a2aebb;
}

.quote-by {
  padding-left: 25px;
  color: #dfe0e2;
}

@media screen and (max-width: 700px) {
  .footer-subheading {
    font-size: 1em;
  }
}
